@{
    ViewData["Title"] = "Grupo";
}
<div class="d-flex justify-content-center">
    <div class="card border-primary mt-3" style="width: 400px;">
        <div class="card-header">Grupo</div>
        <div class="card-body">
            <p class="card-text">Ana Ramos</p>
            <p class="card-text">Eduardo Passos</p>
            <p class="card-text">Geovanni Cadorin</p>
            <p class="card-text">Mariana Lima</p>
            <p class="card-text">Markus Machel</p>
            <p class="card-text">Moisés Menezes</p>
            <p class="card-text">Thiago Cardoso</p>
        </div>
    </div>
</div>